{% extends "tethys_apps/app_base.html" %}

{% load static %}
{% load tethys_gizmos %}

{% block global_scripts %}
  {{ block.super }}  
  
  {% if gtagcode %}
    
    <script async src='https://www.googletagmanager.com/gtag/js?id={{ gtagcode|safe }}' ></script>
    <script>
      var gcode = "{{ gtagcode|safe }}";

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', gcode);

    </script>
    
  {% endif%}
{% endblock %}



{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}
{% block header_buttons %}

<div class= 'tool_tip_h' data-bs-toggle= 'tooltip' data-placement='bottom' title= 'Show/Hide Legend'> <input id="sG-legend" type="checkbox" checked data-bs-toggle="toggle" data-on='<i class="bi bi-list-task"></i>' data-off='<i class="bi bi-list-task"></i>' data-size="mini" data-onstyle = "danger"></input></div>
<div class= 'tool_tip_h' data-bs-toggle= 'tooltip' data-placement='bottom' title= 'Show/Hide Graphs Panel'> <input id="sG" type="checkbox" data-bs-toggle="toggle" data-on='<i class="bi bi-reception-4"></i>' data-off='<i class="bi bi-reception-4"></i>' data-size="mini" data-onstyle = "danger"></input></div>

{% if can_block_map %}
  {% if geoEndpoint %}
    <input id="blockPosition" type="checkbox" checked data-bs-toggle="toggle" data-on='<i class="bi bi-image"></i>' data-off='<i class="bi bi-image"></i>' data-size="mini" data-onstyle = "danger"></input>
  {% endif %}
{% endif %}

<div class="header-button" data-bs-toggle="tooltip" data-placement="bottom" title="Manage HydroServers">
</div>

{% include "water_data_explorer/modals/helpModal.html" %}
<div class="header-button" data-bs-toggle="tooltip" data-placement="bottom" title="Help/Information">
	<a href = "https://water-data-explorer.readthedocs.io/en/latest/">
    <i class="bi bi-info-circle-fill"></i>
  </a>
</div>
{% endblock %}


{% block app_navigation_items %}

  <br>

{% endblock %}

{% block app_content %}
{% endblock %}


{% block app_content_wrapper_override %}

{{ block.super }}
{% include "water_data_explorer/modals/terms_service.html" %}


{% endblock %}





{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
   
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" /> <!-- https://github.com/uxsolutions/bootstrap-datepicker -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> <!-- https://www.bootstraptoggle.com/#api -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css"> <!-- https://openlayers.org/download/ -->
  <link href="{% static 'water_data_explorer/css/ol-layerswitcher.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet"> <!-- cdnj -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script>
    var windowSize = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

  	var baseStatic = "{% static 'water_data_explorer/index.html' %}";
  	baseStatic = baseStatic.replace('\/index.html','');
    var can_block_map = {{can_block_map|yesno:"true,false"}};
    console.log(can_block_map)
    var can_delete_hydrogroups = {{can_delete_hydrogroups|yesno:"true,false"}};
    var can_download = {{can_download|yesno:"true,false"}};
    console.log(can_download)
    var endpointGeoServer = "{{ geoEndpoint|safe }}";
    var geoServerWorkspace = "{{ geoWorkspace|safe }}";
    var geoServerLayer = "{{ geoLayer|safe }}";
    var geoServerColor = "{{ geoColor|safe }}";
    var geoServerWidth = "{{ geoWidth|safe }}";
    var geoServerMovement = {{geoMovement|yesno:"true,false"}};
    var views_names = "{{ views_names|safe }}";


  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> <!-- https://www.bootstraptoggle.com/#api -->
  <script src="https://cdn.plot.ly/plotly-2.13.3.js" charset="utf-8"></script>  <!-- https://plotly.com/javascript/ -->
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script> <!-- https://openlayers.org/download/ -->
  <script src="https://unpkg.com/ol-layerswitcher@4.0.0"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" type="text/javascript"></script> <!-- cdnj -->
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script src="{% static 'water_data_explorer/js/variables.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/utilities.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/initAll.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/utilitiesGraphs.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/groups.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/endpoints.js' %}" type="text/javascript"></script>
  <script src="{% static 'water_data_explorer/js/sites.js' %}" type="text/javascript"></script>
  <script type="text/javascript">

    $(window).resize(function(e) {
      if($( window ).width() < 500){
        if($("#inner-app-content").width() < $( window ).width()){
          $('#sG-legend').bootstrapToggle('off');
          $('#sG').bootstrapToggle('off');

        }
        else{
          $('#sG-legend').bootstrapToggle('on');
          $('#sG').bootstrapToggle('on');



        }
      }
      setTimeout(function(){
        try{
          if($('#plots').is(':visible')){
            Plotly.Plots.resize("plots");
              Plotly.relayout($("plots"), {
                'xaxis.autorange': true,
                'yaxis.autorange': true
              });
          }
        }
        catch(e){
          console.log("Simple plotly error")
        }
        map.updateSize()
      },200)

    })

  </script>

  <link href="{% static 'water_data_explorer/css/main.css' %}" rel="stylesheet"/>

{% endblock %}
