{% extends "water_data_explorer/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_navigation_toggle_override %}
<a href="#"></a>
{% endblock %}

{% block app_navigation_items %}

<!--The Hydroservers are added to this box-->

<br>

<img id="GeneralLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />

<div class="accordion" id="groups_hydroservers">

  <div id= "panHydroGroups" class="panel panel-default">

    <div id="collapseCP">
      <div id= "panel-bodyh">
        <h5 class="titleh"> Views </h5>
        <div class="wrapper-menu">
          {% if can_delete_hydrogroups %}
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddGroupServer"> 
            <i class="bi bi-plus-lg"></i>
          </button>
          {% endif %}
  
          {% if can_delete_hydrogroups %}
          <button id="btn-del-groups-f" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#modalDeleteGroups"> 
            <i class="bi bi-trash"></i>
          </button>
          {% endif %}
          <button id="btn-filter-groups-f" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalKeyWordSearch">
            <i class="bi bi-funnel"></i>
          </button>
  
          <button type="button" id="btn-r-reset" class="btn btn-danger">Reset</button>
        </div>

      </div>
    </div>
  </div>
  {% if logo_institucion %}
  <div class="logo_institucion">
    <img src="{{ logo_institucion }}"/>
  </div>
  {% endif %}

  <div class="accordion" id="current-Groupservers" role="tablist" aria-multiselectable="true"></div>


</div>

{% include "water_data_explorer/sideContent.html" %}

{% endblock %}

{% block app_content %}

<div id="map" class="map"></div>
<table id="tableLegend"></table>
<div id ="graph">
  <img id="graphAddLoading" class="view-file hidden" alt="loading gif" src="{% static 'water_data_explorer/images/loading.gif' %}">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" >
    <div class="carousel-indicators">
      <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="carousel-indicator active"></li>
      <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="carousel-indicator"></li>
    </div>
    <div align="left">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" data-bs-toggle="tooltip" data-placement="top" title="Station/Platform Information">
      <i class="bi bi-list-task"></i>
      <span class="sr-only">Previous</span>
    </button>
    </div>
    <div align="right">
    <button class="carousel-control-next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" data-bs-toggle="tooltip" data-placement="top" title="Time series Plots " align="right">
      <i class="bi bi-bar-chart-line-fill"></i>
      <span class="sr-only">Next</span>
    </button>
    </div>
    <div class="carousel-inner">
      <div id = "tables_info" class="carousel-item active">
          <div id="options">
            <h5 id= "siteName_title"> Please select a Station/Platform on the map</h5>
              <p id= "siteDes">
              </p>
            <div id="table_div"></div>
          </div>
      </div>
      <div id = "plots_info" class="carousel-item">
        <div id="plots2">
          <h3></h3>
          <div id= "ipad_lay_contr">
          <div id= "firstContainer" class="controlGraphs2">
            <div id= "select-graphs">
              <select id= "variables_graph" class="selectpicker" data-dropup-auto="false" data-live-search="true" data-style="btn-info" data-width="100%">
                <option > Select Variable</option>
              </select>

              <select id="type_graph_select2" class="selectpicker" data-width="100%">

                <optgroup label="Individual Variable Plots">
                  <option> Scatter </option>
                  <option> Whisker and Box </option>
              </optgroup>
              </select>


            </div>
            <div id= "timeControllers" class="containerTime">
                <div class='col-md-11'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6' data-provide="datepicker">
                            <input type='text' class="form-control" />
                            <div class="input-group-addon">
                              <!-- <i class="bi bi-calendar-week"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-11'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7' data-provide="datepicker">
                            <input type='text' class="form-control" />
                            <div class="input-group-addon">
                                <!-- <i class="bi bi-calendar2-week-fill"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div id= "secondContainer" class="controlGraphs2">
              <button type="button" id= "update_graphs" class="btn btn-success">Plot Time Series</button>
              {% if can_download %}

                <select id= "download_dropdown" class="selectpicker" data-live-search="false" data-width="fit" data-size="mini">
                    <option value="Download">Download</option>
                      <option value="CSV" >CSV</option>
                      <option value = "WaterML1.0">WaterML 1.0</option>
                      <option value = "WaterML2.0">WaterML 2.0</option>
                      <option value = "NetCDF">NetCDF</option>

                </select>

              {% endif %}


          </div>
          </div>


          <div id="plots"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function(){
        $("#about").modal('show');
    });
</script>

{% endblock %}

{# Use the after_app_content block for modals #}

{% block app_content_wrapper_override %}

{{ block.super }}

{% include "water_data_explorer/modals/manageServers.html" %}
{% include "water_data_explorer/modals/delCentral.html" %}
{% include "water_data_explorer/modals/addHydroserver.html" %}
{% include "water_data_explorer/modals/delServer.html" %}
{% include "water_data_explorer/modals/addGroupHydroserver.html" %}
{% include "water_data_explorer/modals/keywordSearch.html" %}
{% include "water_data_explorer/modals/groupSearch.html" %}
{% include "water_data_explorer/modals/DeleteHydroWarning.html" %}
{% include "water_data_explorer/modals/DeleteTableGroup.html" %}
{% include "water_data_explorer/modals/showVariables.html" %}
{% include "water_data_explorer/modals/showVariables2.html" %}
{% include "water_data_explorer/modals/hydro_info.html" %}
{% include "water_data_explorer/modals/promp_down.html" %}

{% endblock %}


{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}
<div id="zoomlevel"></div>

{% endblock %}
{% block scripts %}
  {{ block.super }}

  <script type="text/javascript">
      $(function () {

          $('#datetimepicker6').datepicker();
          $('#datetimepicker7').datepicker();


          $("#datetimepicker6").datepicker().on("changeDate", function (e) {
              console.log("changing time");
              $('#datetimepicker7').datepicker('setStartDate', $(this).datepicker('getDate'));
          });

          $("#datetimepicker7").datepicker().on("changeDate", function (e) {
              console.log("changing time");
              $('#datetimepicker6').datepicker('setEndDate', $(this).datepicker('getDate'));
          });

      });
  </script>
{% endblock %}
