{% extends "water_data_explorer/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_navigation_items %}
<!--The Hydroservers are added to this box-->

<!-- id= "buttonsBar" for the button bar -->
<br>

<img id="GeneralLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loader.gif' %}" />

<div class="accordion" id="groups_hydroservers">
  <button class="btn btn-primary btn-lg btn-block">HydroServers</button>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingCP">
      <h4 class="panel-title">
        <button class="btn btn-success btn-block" type="button"  data-toggle="collapse" data-target="#collapseCP" href="#collapseCP" aria-expanded="true" aria-controls="collapseCP">
          Hydroserver Control Panel
        </button>
      </h4>
    </div>
    <div id="collapseCP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCP">
      <div class="panel-body">
        {% if can_delete_hydrogroups %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddGroupServer"> <span class="glyphicon glyphicon-plus"></span></button>
          {% endif %}

          {% if can_delete_hydrogroups %}
          <button class="btn btn-danger"  data-toggle="modal" data-target="#DeleteWarning"> <span class="glyphicon glyphicon-trash"></span></button>
          {% endif %}
          <button class="btn btn-success" data-toggle="modal" data-target="#modalKeyWordSearch"> <span class="glyphicon glyphicon-search"></span></button>
          {% if can_block_map %}
          <input id="blockPosition" type="checkbox" checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-picture'></span>" data-off="<span class='glyphicon glyphicon-picture'></span>" data-size="small" data-onstyle = "danger"></input>
          {% endif %}
          <input id="sG" type="checkbox" checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-signal'></span>" data-off="<span class='glyphicon glyphicon-signal'></span>" data-size="small" data-onstyle = "danger"></input>
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> </button>
  <br>
  <div class="panel-group" id="current-Groupservers" role="tablist" aria-multiselectable="true"></div>

  <!-- <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0" style= "width:120%">

      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#groups_hydroservers">
      <div class="card-body">
        <div id="current-Groupservers">
        </div>
      </div>
    </div>
  </div> -->

</div>


{% include "water_data_explorer/sideContent.html" %}

{% endblock %}

{% block app_content %}
<!-- <div id="content_map"> -->
<!-- <div id="container_map"> -->

  <div id="map" class="map">

  </div>
<!-- </div> -->

  <div id="graph">

    <div id="options">
      <h3 id= "siteName_title"> Select a Station</h3>
      <p id= "siteDes"> No Site Selected, when a site is "clicked" metadata of the site will display
        in this part such as a name and a description.
      </p>

      <br>
    </div>
    <img id="graphAddLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loader.gif' %}"  />
    <div id="variables_id">
      <h3 id= "siteName_title"> Site Variables Info</h3>
      <p><em>Site Variable Distribution</em></p>
      <p>Select a plot to describe the variable distribution in the selected site</p>
      <p>
        <select id="type_graph_select" class="selectpicker" data-width="auto">
          <optgroup label="Gropup Plots">
            <option> Pie </option>
            <option> Bar </option>
          </optgroup>

        </select>
      </p>


      <p ><em> Variables Plot </em></p>
      <p> Select a variable and its kind of Plot </p>
      <p>
        <select id= "variables_graph" class="selectpicker" data-live-search="true" data-style="btn-info"width: '100%'>
          <option > No Variables Available . . .</option>
        </select>
        <select id="type_graph_select2" class="selectpicker" data-width="fit">

          <optgroup label="Individual Variable Plots">
            <option> Scatter </option>
            <option> Whisker and Box </option>
        </optgroup>
        </select>

      </p>
      <p><em>Variables Time Range</em></p>
      <p>Select a Range of time for the given variables</p>
      <div class="containerTime">
          <div class='col-md-5'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker6' data-provide="datepicker">
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
          <div class='col-md-5'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker7' data-provide="datepicker">
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="button" id= "update_graphs" class="btn btn-danger">Update</button>


    <div id="table_div"></div>
    </div>
    <div id="plots">
    </div>

  </div>
  <!-- <div id="graph" style="display:none"><h1>HOLA</h1></div> -->
<!-- </div> -->

 <!-- <div> -->
   <!-- Popup -->
   <!-- <div id="popup"></div> -->
 <!-- </div> -->

{% endblock %}

{# Use the after_app_content block for modals #}

{% block app_content_wrapper_override %}

{{ block.super }}
{% include "water_data_explorer/modals/manageServers.html" %}
{% include "water_data_explorer/modals/manageCentral.html" %}
{% include "water_data_explorer/modals/addCentral.html" %}
{% include "water_data_explorer/modals/delCentral.html" %}
{% include "water_data_explorer/modals/addHydroserver.html" %}
{% include "water_data_explorer/modals/delServer.html" %}
{% include "water_data_explorer/modals/addGroupHydroserver.html" %}
{% include "water_data_explorer/modals/keywordSearch.html" %}
{% include "water_data_explorer/modals/DeleteHydroWarning.html" %}
{% include "water_data_explorer/modals/showVariables.html" %}





{% endblock %}


{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}
<div id="zoomlevel"></div>

{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker6').datepicker();
          $('#datetimepicker7').datepicker();


          $("#datetimepicker6").datepicker().on("changeDate", function (e) {
              console.log("changing time");
              $('#datetimepicker7').datepicker('setStartDate', $(this).datepicker('getDate'));
          });

          $("#datetimepicker7").datepicker().on("changeDate", function (e) {
              console.log("changing time");
              $('#datetimepicker6').datepicker('setEndDate', $(this).datepicker('getDate'));
          });

      });
  </script>
{% endblock %}
