*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
docs/_build
docs/_static
docs/templates
docker_files/postgres-data
.flake8
.hadolint.yaml
.isort.cfg
.markdownlint.yaml
.shellcheckrc
.trunk
