.header-btns p{
  font-size: 1.1em;
  padding-top: 5%;
  font-weight: bold;
}
/* #content_map{
  width: 100%;
  display:flex;
  height: 200%;
  flex-direction: column;
} */

/* #container_map{
  width: 100%;
  height: 100%;
  flex:1 1 70%;
  order: 1;

} */
#myInput, #myInputKeyword {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchBars{
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.hsinfo{
    font-size: 1.3em;
    font-weight: bold;
    color: #666;
}
table #tbl-hydroservers{
  border-collapse: collapse;
  width: 100%;
}

th #tbl-hydroservers, td #tbl-hydroservers, tr #tbl-hydroservers {

  padding: 2%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color:#f5f5f5;
}



#app-content-wrapper #app-content{
  height: 100%;
  /* when the graph is on */
}
#app-content-wrapper #app-content #app-actions{
  background-color: transparent !important;
}
#inner-app-content{
  width: 90%;
  display:flex;
  height: 100%;
  flex-direction: column;
  padding: 0 0 0 0;
  /* position: fixed; */
  left: 150px;
  position: relative;
}
#map2{
  width: 100%;
  height: 40vh;
}
#map{
  width: 100%;
  height: 100%;
  /* position: fixed; */
  flex:1 1 50%;
  order: 1;
  overflow-y: hidden;
}
#graph{
  flex: 1 1 60%;
  order: 2;
  width: 100%;
  height: 100%;
  /* display: none !important; */
  display: none;
  /* visibility: hidden; */
  overflow-y: scroll;
}

#options{
  padding-left: 2%;
  flex: 1 1 40%;
  order: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* #variables_id{
  padding-left: 2%;
  flex: 1 1 30%;
  order: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
} */
#plots2{
  display: flex;
  flex: 1 1 50%;
  order: 3;
  width: 100%;
  height: 100%;
  flex-direction: column
}
#plotsDis{
  width: 100%;
  height: 90%;
}
#controlGraphs{
  flex: 1 1 10%;
  display: flex;
  flex-direction: row
}
.containerTime{
  display: flex;
  flex-direction: row;
}
#plots{
  flex: 1 1 90%;
}
#update_graphs{
  height: 70%;
}
@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media screen and (max-width: 767px) {
  #graph{
    flex: 1 1 60%;
    order: 2;
    width: 100%;
    height: 100%;
    /* display: none !important; */
    display: none;
    /* visibility: hidden; */
    overflow-y: scroll;
    flex-direction: column;
  }
  #options{
    padding-left: 2%;
    flex: 1 1 40%;
    order: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
/* #map {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: -15px;
    margin-top: -20px;
} */


.hmbrgr-div {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

.hmbrgr-div:hover {
    box-shadow: 0 1px 1px 1px #bbbbbb;
}

.hmbrgr-div img {
    width: 18px;
    margin: 2px;
}

.hmbrgr-open {
    background-color: #a1a1a1;
}

#current-servers {
    width: 100%;
    height: auto;
    background-color: #D3D3D3;
    /* background-color: black; */
    overflow-y: auto;
}

#current-servers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#current-servers li {
    position: relative;
    list-style: none;
    padding: 5px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
#current-Groupservers {
    width: 100%;
    height: 100%;
    background-color: #5a6268;
    overflow-y: auto;
    padding: 0.25em;
    padding-bottom: 2em;
    padding-top: 1em;
}

#current-Groupservers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#current-Groupservers li {
    position: relative;
    list-style: none;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
#current-Groupservers li ul {
  display: block;
}


.server-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
}
.group-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
    margin-left: 5%;
}
#buttonsBar{
  margin-left: 10%;
}

#pop-up_description2 h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_groups_tag{
  color: #cc2418;
  align-items: center;
}
#app-content-wrapper #app-content #app-navigation{
  padding: 2% 0.2%;
  overflow-x: hidden;
  z-index:9000;
  width: 450px;
}
#app-content-wrapper #app-content #app-navigation .nav{
  overflow-x: hidden;
}
#app-content-wrapper{
  overflow-y: hidden;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

#options{
  margin: 0 0 0 0;
  /* padding: 0 0 0 0; */
}
#options p {
  /* font-weight: bold; */
}
#options em {
  font-weight: bold;
}
#variables_id em {
  font-weight: bold;
}
#plots2{
  padding:  0 0 0 0;
}
.containerTime{
  width: 100%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position: relative;
  min-height: 1px;
  width:70%;
  padding-right: 1%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding-left:0;
}
.panel-heading.buttonAppearance{
    /* margin: 40px; */
    display: flex;
    height: 20%;
    width: 100%;
    /* font-size: 65px; */
    background: #286090 !important;
    /* border: 2px solid white; */
    border-color: #204d74 !important;
    color: white;
    transition: all 0.2s linear 0s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.10em;
    padding-right:0.10em;
}
.panel-heading.buttonAppearance h4{
    width: 100%;
    align-items: center;
}
.ui-state-default.buttonAppearance{
    /* margin: 40px; */
    display: flex;
    height: auto;
    width: 100%;
    /* font-size: 65px; */
    background: #286090 !important;
    /* border: 2px solid white; */
    border: 0px;
    border-color: #204d74 !important;
    color: white;
    transition: all 0.2s linear 0s;
    justify-content: flex-end;
}

#modalHydroserInformation .modal{
    display: block !important;
}
#modalHydroserInformation .modal-dialog{
      overflow-y: initial !important
}
#modalHydroserInformation .modal-body #infoTable{
  height: 250px;
  overflow-y: auto;
}
#modalKeyWordSearch .modal-body #groups_variables{
  height: 250px;
  overflow-y: auto;
}
#modalShowVariables .modal{
    display: block !important;
}
#modalShowVariables .modal-dialog{
      overflow-y: initial !important
}
#modalShowVariables .modal-body #hideScroll{
  height: 250px;
  overflow-y: auto;
}
#titleSite{
  font-weight: bold;
}
#titleSite button{
  margin-left: 5%;
}
.view-file{
  /* width: 50%; */
  height: 20%;
}
.titleh{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  background-color:#5a6268;

}
#settingsID{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  z-index: 999 !important;
  background-color: #286090;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
}
#collapseCP{
  border-radius: 0.25em;
}
#panel-bodyh{
  display: flex;
  background-color:#5a6268;

  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.50em;
}
.iconhydro{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#5a6268;
  padding: 0.5em;
  margin: 0.53;
  color:white;
}
#panHydroGroups{
  background-color:#5a6268;
}
.panel{
  border-color: none !important;
  border:none !important;
}

.chkbx-layers{
  -webkit-appearance:none;
  width:2.5em;
  height:2em;
  background: url("https://img.icons8.com/dotty/24/FFFFFF/sheets.png") 50% 0 no-repeat fixed;
  background-color: #337ab7;
  border-color: #007bff;
  padding: 0;
}
.chkbx-layers:hover{
  -webkit-appearance:none;
  width:2.5em;
  height:2em;
  background: url("https://img.icons8.com/dotty/24/FFFFFF/sheets.png") 50% 0 no-repeat fixed;
  background-color:  #286090;
  border-color: #204d74;
  padding: 0;
}
.chkbx-layers:checked {
    background: url("https://img.icons8.com/ios/24/FFFFFF/sheets.png") 50% 0 no-repeat fixed;
    background-color:  #286090;
    border-color: #204d74;
    padding: 0;
}
.chkbx-layer{
  -webkit-appearance:none;
  width:2.5em;
  height:2.2em;
  border-radius:5px;
  border:2px solid #555;
  background: url("https://img.icons8.com/dotty/24/555555/sheets.png") 50% 50% no-repeat fixed;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  top:1px;
  padding: 0;
}
.chkbx-layer:checked {
    background: url("https://img.icons8.com/ios/24/555555/sheets.png") 50% 50% no-repeat fixed;
    background-color: #e6e6e6;
    border-color:  #e6e6e6;
    top:1px;
    padding: 0;
}
.chkbx-layer:hover{
  -webkit-appearance:none;
  width:2.5em;
  height:2.2em;
  border-radius:5px;
  border:2px solid #555;
  background: url("https://img.icons8.com/dotty/24/333333/sheets.png") 50% 50% no-repeat fixed;
  background-color: #e6e6e6;
  border-color:  #e6e6e6;
  top:1px;
  padding: 0;
}
.chkbx-layer:checked:hover {
    background: url("https://img.icons8.com/ios/24/333333/sheets.png") 50% 50% no-repeat fixed;
    background-color: #e6e6e6;
    border-color:  #e6e6e6;
    top:1px;
    padding: 0;
}

.toggle.btn-xs{
  margin-left: 1em;
}
#tbl-hydrogroups{
  width: 100%;
}
#hydroserverTitle{
  /* display: flex; */
  /* justify-content: center; */
}

#variablesLoading,#KeywordLoading{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;

}

#table_div {
  overflow-y: scroll
}

.loading_id{
  display: flex;
  justify-content: center;
  width: 100%
}
.image_button{
  /* display: flex; */
  /* justify-content: center; */
  width: 100%
}
.image_button img{
  border-radius: 0.5em;
  border-color: gray;
  width: 6.5%;
  border: 2px solid gray;
  display: inline-block;
}
.imitate_p{
  font-size: 14px;
  color: #666;
  font-weight: 400;
  letter-spacing: .5px;
}
#available_services{
  overflow-x: scroll;
  height: 500px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#left-content {
  justify-content:center;
  width: 100%;
  padding: 0.5em;
}
#groups_countries, #groups_variables{
  width: 100%;
}
/* .buttonAppearance:hover{
  background-color: #5bc0de !important;
  border-color:#46b8da !important;
  color: white;
} */

/* #siteVariableTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#siteVariableTable td, #siteVariableTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#siteVariableTable tr:nth-child(even){background-color: #f2f2f2;}

#siteVariableTable tr:hover {background-color: #ddd;}

#siteVariableTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
} */
