/* some fixes to make it look nice */
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 38px;
  user-select: none;
  -webkit-user-select: none;
}

.div_variables_em{
  padding: 1rem 1rem;

}

#datetimepicker7 span{
  width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
}
#variables_graph{
  height: 100%;
}
#select-graphs {
  flex: 1 1 50%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* span, p {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  letter-spacing: .5px;
} */

th{
  font-size: 14px;
}
.wrapper-menu{
  display: flex;
  justify-content: center;
}
.accordion-body {
  padding: 1rem 0.3rem 1rem;
}


.FootNote{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}
#term_service_modal{
  max-width: 600px;
}

.group-name{
  width: 120px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 218px;
  background: #286090;
  border: 0px;
  border-color: #204d74;
  color: white;
  font-size:18px;
  padding:0.5rem;
}

#groups_hydroservers {
  margin: 0.5%;
  margin-top: 10px;
}

/* old */

.ol-attribution li {
  font-size: 1.5em;
}
[data-notify='container'] {
  width: 50%;
}

.hidden {
  display: none !important;
}



.button-group-temp {
  display: flex;
  justify-content: flex-end;
}

.check_hs_delete,
.chkbx-group,
.filter_check {
  position: relative;
  border-radius: 5px;
  border: 2px solid #555;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  padding: 0;
  transform: scale(1.3);
}
.check_hs_delete:checked,
.chkbx-group:checked,
.filter_check:checked {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  top: 1px;
  padding: 0;
  position: relative;
  transform: scale(1.3);
}
.check_hs_delete:hover,
.chkbx-group:hover,
.filter_check:hover {
  position: relative;
  border-radius: 5px;
  border: 2px solid #555;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  padding: 0;
  transform: scale(1.3);
}
.check_hs_delete:checked:hover,
.chkbx-group:checked:hover,
.filter_check:checked:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  top: 1px;
  padding: 0;
  position: relative;
  transform: scale(1.3);
}

#modalCrazy {
  width: unset;
  height: fit-content;
}

.header-btns p {
  font-size: 1.1em;
  padding-top: 5%;
  font-weight: bold;
}
#btn-r-reset {
  display: none;
}

#myInput,
#myInputKeyword {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.searchBars {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.hsinfo {
  font-size: 1.3em;
  font-weight: bold;
  color: #666;
}

.hs_title,
.hs_url {
  word-break: break-all;
  padding-left: 4%;
}
.hs_url {
  padding-left: 4%;
}
.hs_title {
  padding-left: 1%;
}

tr:hover {
  background-color: #f5f5f5;
}

#app-content-wrapper #app-content {
  height: 100%;
  /* when the graph is on */
}
#app-content-wrapper #app-content #app-actions {
  background-color: transparent !important;
}
#app-actions {
  display: none !important;
}
#inner-app-content {
  width: 100%;
  display: flex;
  /* left: 100px; */
  height: 100%;
  flex-direction: column;
  padding: 0 0 0 0;
  /* padding-right: 100px; */
  position: relative;
}
#app-content-wrapper #app-content #app-navigation {
  position: absolute;
  top: 0;
  /* left: -300px; */
  /* width: 400px; */
  height: 100%;
  background: #efefef;
  padding: 0 0px;
  padding-top: 1%;
}
#map2 {
  width: 100%;
  height: 40vh;
}
#map {
  width: 100%;
  height: 100%;
  flex: 1 1 40%;
  order: 1;
  overflow-y: hidden;
}
#graph {
  flex: 1 1 60%;
  order: 2;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
}

#options {
  padding-left: 2%;
  flex: 1 1 30%;
  order: 1;
  width: 100%;
  height: 100%;
}

#plots2 {
  display: flex;
  flex: 1 1 70%;
  order: 3;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#plotsDis {
  width: 100%;
  height: 90%;
}
#controlGraphs {
  flex: 1 1 10%;
  display: flex;
  flex-direction: row;
}
.containerTime {
  display: flex;
  flex-direction: column;
}
#plots {
  flex: 1 1 90%;
}


.hmbrgr-div {
  width: 22px;
  height: 22px;
  border-radius: 2px;
}

.hmbrgr-div:hover {
  box-shadow: 0 1px 1px 1px #bbbbbb;
}

.hmbrgr-div img {
  width: 18px;
  margin: 2px;
}

.hmbrgr-open {
  background-color: #a1a1a1;
}

#current-servers {
  width: 100%;
  height: auto;
  background-color: #d3d3d3;
  overflow-y: auto;
}

#current-servers ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

#current-servers li {
  position: relative;
  list-style: none;
  padding: 5px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}
#current-Groupservers {
  width: 100%;
  height: 100%;
  background-color: #5a6268;
  /* overflow-y: auto; */
  padding: 0.25em;
  padding-bottom: 2em;
  padding-top: 1em;
}

#current-Groupservers ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
}

#current-Groupservers li {
  position: relative;
  list-style: none;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}
#current-Groupservers li ul {
  display: block;
}

.server-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 10%;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#buttonsBar{
  margin-left: 10%;
}


#pop-up_description2 h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_groups_tag {
  color: #cc2418;
  align-items: center;
}

#app-content-wrapper {
  overflow-y: hidden;
}
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20px;
}
.toggle.ios .toggle-handle {
  border-radius: 20px;
}

#options {
  margin: 0 0 0 0;
}

#options span,
#options i {
  font-weight: bold;
}
#variables_id {
  font-weight: bold;
}
#plots2 {
  padding: 0 0 0 0;
}
.containerTime {
  width: 100%;
}

.panel-heading.buttonAppearance {
  /* margin: 40px; */
  display: flex;
  height: 20%;
  width: 100%;
  background: #286090 !important;
  border-color: #204d74 !important;
  color: white;
  transition: all 0.2s linear 0s;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.accordion-header.buttonAppearance{
    /* margin: 40px; */
    display: flex;
    height: 20%;
    width: 100%;
    background: #286090 !important;
    border-color: #204d74 !important;
    color: white !important;
    transition: all 0.2s linear 0s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.10em;
    padding-right:0.10em;
}
.accordion-header.buttonAppearance h4{
    width: 100%;
    align-items: center;
    margin-left: 2%;
    display: flex;

}
.ui-state-default.buttonAppearance {
  display: flex;
  height: auto;
  width: 100%;
  background: #286090 !important;
  border: 0px;
  border-color: #204d74 !important;
  color: white !important;
  transition: all 0.2s linear 0s;
  justify-content: flex-end;
}

/* .modal-dialog {
  width: 75%;
  max-width: 90%;
} */

#modalHydroserInformation .modal{
    display: block !important;
}
#modalHydroserInformation .modal-dialog {
  overflow-y: initial !important;
}
#modalHydroserInformation .modal-body #infoTable {
  height: 250px;
  overflow-y: auto;
}
#modalKeyWordSearch .modal-body #groups_variables {
  height: 250px;
  overflow-y: auto;
}
#modalShowVariables .modal {
  display: block !important;
}
#modalShowVariables .modal-dialog {
  overflow-y: initial !important;
}
#modalShowVariables .modal-body #hideScroll {
  height: 250px;
  overflow-y: auto;
}
#titleSite {
  font-weight: bold;
}
#titleSite button {
  margin-left: 5%;
}
.view-file {
  height: 20%;
}
.titleh {
  display: flex;
  align-items: center;
  margin-right: 2%;
  justify-content: center;
  color: white;
  background-color: #5a6268;
}
#settingsID {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  z-index: 999 !important;
  background-color: #286090;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
}
#collapseCP {
  border-radius: 0.25em;
}
#accordion-bodyh{
  display: flex;
  background-color: #5a6268;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}
.iconhydro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a6268;
  padding: 0.5em;
  margin: 0.53;
  color: white;
}
#panHydroGroups {
  background-color: #5a6268;
}
.accordion{
  border-color: none !important;
  border: none !important;
}

.chkbx-layers {
  position: relative;
  right: 1em;
  background-color: #337ab7;
  border-color: #007bff;
  transform: scale(1.7);
  border-width: 1px;
}

.chkbx-layers:hover {
  position: relative;
  right: 1em;
  background-color: #286090;
  border-color: #204d74;
  transform: scale(1.7);
}
.chkbx-layers:checked {
  position: relative;
  right: 1em;
  background-color: #337ab7;
  border-color: #007bff;
  padding: 0;
}
.chkbx-layer {
  position: relative;
  right: 1em;
  border-radius: 5px;
  border: 2px solid #555;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  padding: 0;
  transform: scale(1.3);
}
.chkbx-layer:checked {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  top: 1px;
  padding: 0;
  position: relative;
  right: 1em;
  transform: scale(1.3);
}
.chkbx-layer:hover {
  position: relative;
  right: 1em;
  border-radius: 5px;
  border: 2px solid #555;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  padding: 0;
  transform: scale(1.3);
}
.chkbx-layer:checked:hover {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  top: 1px;
  padding: 0;
  position: relative;
  right: 1em;
  transform: scale(1.3);
}

.toggle.btn-xs {
  margin-left: 1em;
}

#hydroserverTitle {
}

#variablesLoading2,
#KeywordLoading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#table_div {
  overflow-y: scroll;
}

.loading_id {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo_institution{
  display: flex;
  justify-content: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.logo_institution img{
  width: 200px;
}
.accordion{
  margin-bottom: 0px;
}
.image_button {
  width: 100%;
}

.image_button img {
  border-radius: 0.5em;
  border-color: gray;
  width: 6.5%;
  border: 2px solid gray;
  display: inline-block;
}
.imitate_p {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#available_services {
  overflow-x: scroll;
  height: 500px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#left-content {
  justify-content: center;
  width: 100%;
  padding: 0.5em;
}
#groups_countries,
#groups_variables {
  width: 100%;
}

#tableLegend {
  position: absolute;
  top: 3%;
  right: 1%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  width: 20%;
  word-break: break-all;
}

#btn-download-waterml,
#btn-download-csv {
  margin: 0.1em;
}

#siteVariableTable th {
  font-weight: normal;
  word-break: break-all;
}
#siteVariableTable .danger th {
  font-weight: bold;
}
#soapAddLoading-group,
#soapAddLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#hideScroll2 {
  overflow-y: scroll;
  height: 500px;
}
.spacer_fake {
  width: 1.3em;
}

.modal-backdrop {
  display: none;
}
.example-open .modal-backdrop {
  background-color: black;
  display: inline-block;
  opacity: 0.8;
}



#app-content-wrapper .hide-nav {
  /* display:none; */
}
.controlGraphs2 {
  flex: 1 1 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#carouselExampleIndicators {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  max-width: 100%;
  max-height: 100%;
}

.carousel-control-prev{
  background-image: none;
  top: 0%;
  height: 30px;
  font-size: 14px;
  color: #f7f7f7;
  padding: 9px;
  background: #5cb85c;
  box-sizing: content-box;
  width: 30px;
  border-radius: 3px;
}
.carousel-control-next{
  background-image: none;
  top: 0%;
  height: 30px;
  font-size: 20px;
  color: #f7f7f7;
  padding: 9px;
  background: #5cb85c;
  box-sizing: content-box;
  width: 30px;
  border-radius: 3px;
}
.carousel-indicators {
  top: 1%;
  height: fit-content;
}
.carousel-indicators .active{
  background-color: #d9534f !important;
}
.carousel-indicators li {
  background-color: #1b95dc !important;
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin: 1px !important;
  text-indent: -999px !important;
  cursor: pointer !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}

.carousel-control-prev .golang, .carousel-control-prev .icon-next {
  color: #f7f7f7;
  padding: 1vw;
  background: #5cb85c;
  width: auto;
  height: auto;
  box-sizing: content-box;
}

.carousel-control-next .golang, .carousel-control-next .icon-next {
  color: #f7f7f7;
  padding: 1vw;
  background: #5cb85c;
  width: auto;
  height: auto;
  box-sizing: content-box;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 4%;
}

#app-content-wrapper #app-content {
  padding-bottom: 0px;
}
#graphAddLoading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* Smartphones (portrait and landscape) ----------- */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  #map {
    width: 100%;
    height: 100%;
    flex: 1 1 0%;
    order: 1;
    max-width: 100%;
    overflow-y: hidden;
  }
  #graph {
    flex: 1 1 100%;
    order: 2;
    width: 100%;
    height: 100%;
    display: none;
  }
  #ipad_lay_contr {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex: 1 1 30%;
  }

  #secondContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
  }
  #firstContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 70%;
    gap:4%;
  }

  #select-graphs {
    flex: 1 1 50%;
  }
  #timeControllers {
    flex: 1 1 50%;
  }

  #thirdContainer {
    order: 3;
    flex: 1 1 10%;
  }
  
  .form-group {
    margin-bottom: 0px;
  }
  #tableLegend {
    position: absolute;
    top: 3%;
    right: 1%;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    max-width: 30%;
    word-break: break-all;
  }
}
#app-content-wrapper.show-nav #app-content {
  padding-right: 300px;
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 361px) {
  /* Styles */

  #ipad_lay_contr {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex: 1 1 30%;
  }

  #secondContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
  }
  #firstContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 70%;
    gap: 4%;
  }

  #select-graphs {
    flex: 1 1 50%;
  }
  #timeControllers {
    flex: 1 1 50%;
  }

  #thirdContainer {
    order: 3;
    flex: 1 1 10%;
  }
  

  .form-group {
    margin-bottom: 0px;
  }
  #tableLegend {
    position: absolute;
    top: 3%;
    right: 1%;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    max-width: 30%;
    word-break: break-all;
  }
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 500px) {
  /* Styles */
  #tableLegend {
    position: absolute;
    top: 3%;
    right: 1%;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    max-width: 100%;
    word-break: break-all;
  }
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  /* Styles */
  #map {
    width: 100%;
    height: 100%;
    flex: 1 1 40%;
    order: 1;
    max-width: 100%;
    overflow-y: hidden;
  }
  #graph {
    flex: 1 1 60%;
    order: 2;
    width: 100%;
    height: 100%;
    display: none;
  }
}

/* iPads (landscape) ----------- */
@media screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media screen and (min-width: 1366px) {
  /* Styles */
  #map {
    width: 100%;
    height: 100%;
    flex: 1 1 40%;
    order: 1;
    max-width: 100%;
    overflow-y: hidden;
  }
  #graph {
    flex: 1 1 60%;
    order: 2;
    width: 100%;
    height: 100%;
    display: none;
  }
}

/* Large screens ----------- */
@media screen and (min-width: 1824px) {
  #map {
    width: 100%;
    height: 100%;
    flex: 1 1 40%;
    order: 1;
    max-width: 100%;
    overflow-y: hidden;
  }
  #graph {
    flex: 1 1 60%;
    order: 2;
    width: 100%;
    height: 100%;
    display: none;
  }
}
/* iPhone 4 ----------- */
@media screen and (-webkit-min-device-pixel-ratio: 1.5),
  screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
