{% load static %}

<div id="modalAddGroupServer" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
              <h4 class="modal-title">Add a Catalog of Views</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form id="modalAddGroupServerForm">

                <br>
                <label for="addGroup-title">Title (Required):</label>
                <input type="text" class="form-control" name="addGroup-title" id="addGroup-title" placeholder="Please enter a valid Title">
                <label for="addGroup-description"> Description (Required): </label>
                <textarea name="textarea" rows="10" cols="50" class="form-control" name="addGroup-description" id="addGroup-description" placeholder="Please enter a valid Description"></textarea>
                <!-- <input type="text" class="form-control" name="addGroup-description" id="addGroup-description" placeholder="Please enter a valid description for the HydroServer Group"> -->
                <br>
                <p> If available, please enter below a catalog endpoint to automatically import its views.</p>
                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group">
                        <label for="url">Endpoint/URL (Optional):</label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="Please enter an Endpoint " required>
                        <br>
                        <button id= "btn-check_available_serv" type="button" class="btn btn-primary">Check Services</button>

                    </div>
                    <img id="soapAddLoading-group" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />

                </div>
                <br>

                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group hidden" id="available_services">
                      <br>
                      <p>Available Views</p>
                      <table id="table-check-services" class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Add</th>
                            <th scope="col">View Name</th>
                          </tr>
                        </thead>
                        <tbody id= "rows_servs">

                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="loading_id">
                </div>
                <div class="warning"> </div>

              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-addHydro" class="btn btn-success">Create Catalog</button>
                    <button id= "btn-check_all" type="button" class="btn btn-primary hidden">Select All Views</button>
                </div>
            </div>
        </div>
    </div>
</div>
