{% load staticfiles %}

<div id="modalAddGroupServer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Group of Views</h4>
            </div>
            <div class="modal-body">
              <form id="modalAddGroupServerForm">

                <br>
                <label for="addGroup-title">Title (Required):</label>
                <input type="text" class="form-control" name="addGroup-title" id="addGroup-title" placeholder="Please enter a valid Title for the Hydroserver Group">
                <label for="addGroup-description"> Description (Required): </label>
                <textarea name="textarea" rows="10" cols="50" class="form-control" name="addGroup-description" id="addGroup-description" placeholder="Please enter a valid description for the HydroServer Group"></textarea>
                <!-- <input type="text" class="form-control" name="addGroup-description" id="addGroup-description" placeholder="Please enter a valid description for the HydroServer Group"> -->
                <p> <em>** If there is a HIS catalog available for the group provide it for automatically generate the group</em></p>
                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group">
                        <label for="url">URL (Optional):</label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="Please enter a hiscentral compliant endpoint " required>
                        <br>
                        <button id= "btn-check_available_serv" type="button" class="btn btn-primary">Check Services</button>

                    </div>
                </div>
                <br>

                <div class="form-row">
                    <div class="col-md-12 mb-3 form-group hidden" id="available_services">
                      <p>Available Services</p>
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Add</th>
                            <th scope="col">Service Name</th>
                          </tr>
                        </thead>
                        <tbody id= "rows_servs">

                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="loading_id">
                  <img id="soapAddLoading-group" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                </div>
                <div class="warning"> </div>

              </form>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-addHydro" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
