{% load static %}
<form id="modalAddSoap" class="modal" action="soap/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Views to Catalog</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label for="soap-title">Title (Required):</label>
                <input type="text" class="form-control" name="soap-title" id="soap-title" placeholder="Please enter a valid Title">
                <label for="soap-url">Endpoint/URL (Required):</label>
                <input type="text" class="form-control" name="soap-url" id="soap-url" placeholder="Please enter a valid Endpoint">
                <label for="soap-description">Description (Required):</label>
                <textarea name="textarea" rows="10" cols="50" class="form-control" name="hs-description" id="hs-description" placeholder="Please enter a valid Description"></textarea>
                <div class="checkbox hidden">
                    <label><input type="checkbox" name="extent" id="extent">Add only for Zoomed Area</label>
                </div>
                <!-- <button type="button" id="select-his" class="btn btn-primary">
                    Select Server from Existing Catalog
                </button> -->
                <div id="chk_val" name="chk_val"></div>
                <div class="warning">
                </div>
                <div class="loading_id">
                  <img id="soapAddLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-soap" class="btn btn-success">Add to Catalog</button>
                </div>
            </div>
        </div>
    </div>
</form>
