<form id="modalDeleteGroups" class="modal" role="dialog" action="delete/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title">Delete Catalogs</h4>
                    <p><em>Please be aware that deleting a catalog will delete all its views.</em></p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-del-hydro-groups" class="btn btn-danger">Delete</button>

                </div>
            </div>
        </div>
    </div>
</form>
