<!-- Modal -->
<div class="modal fade" id="DeleteWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Hydroserver Groups</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please, be aware that deleting all the hydroservers that are checked will mean to lose all the HydroServers
        that are associated to each one of the groups that will be deleted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="btn-delete-hydroserver-group" class="btn btn-danger">Proceed and Delete</button>
      </div>
    </div>
  </div>
</div>
