{% load static %}
<form id="modalFilterGroup" class="modal" role="dialog" >
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                  <h4 class="modal-title">Ontology based Search in the WDE Servers</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  <p> Select from the following variable concepts or countries to filter the different WaterOneFlow Web Services contained in the current Catalog</p>

                  <em>Note: Everytime the user selects a variable concepts or country region, this one is added, and the search is done using an "OR". In other words,
                  the search will give any server that has at least one of the selected keywords</em>

                </div>
            </div>
            <div class="modal-body" id = "keyword-modal-body">
              <div class="leftContent">
                <p> Region Data Discovery </p>
                <input type="text" id="myInputKeywordGroup" class= "searchBars" placeholder="Search for country" title="Type in a keyword">
                <div id="groups_countries2"></div>
                <br>
                <p> Variable Data Discovery </p>
                <input type="text" id="myInputKeywordGroup2" class= "searchBars" placeholder="Search variable" title="Type in a keyword">
                <div id="groups_variables2">

                </div>
              </div>
            </div>

            <div class="modal-footer">
                <div class="button-group">
                  <img id="KeywordLoading2" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                    <button type="button" id="btn-key-search-catalog" class="btn btn-primary">Seach</button>
                    <button type="button" id="btn-r-reset-catalog" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
