{% load staticfiles %}
<style media="screen">
  #exampleAccordion, .marcoLogico{
    width:70%;
    display:flex;
    flex-direction:column;
    margin-left:15%;
    border:4px solid black;
    padding: 1em;
  }
  .marcoLogico2{
    border:4px solid black;
    padding: 1em;
    margin-bottom:2em;
  }

</style>
<div id="helpModal" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1>Water Data Explorer Use Instructions</h1>
            </div>
            <div class="modal-body">
                <h2>User Interface</h2>
                <p>The user interface of the water data explore is composed in three parts: Map, graphs, and hydrogroups control panel</p>
                <h3>Hydrogroups control Panel</h3>
                <p>The following shows the Hydroserver Panel Control:</p>

                <div class="accordion" id= "exampleAccordion">
                  <button class="btn btn-primary btn-lg btn-block">HydroServers</button>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCP">
                      <h4 class="panel-title">
                        <button class="btn btn-success btn-block" type="button"  data-toggle="collapse" data-target="#collapseCP" href="#collapseCP" aria-expanded="true" aria-controls="collapseCP">
                          Hydroserver Control Panel
                        </button>
                      </h4>
                    </div>
                    <div id="collapseCP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCP">
                      <div class="panel-body">
                        {% if can_delete_hydrogroups %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddGroupServer" disabled> <span class="glyphicon glyphicon-plus"></span></button>
                          {% endif %}

                          {% if can_delete_hydrogroups %}
                          <button class="btn btn-danger"  data-toggle="modal" data-target="#DeleteWarning" disabled> <span class="glyphicon glyphicon-trash"></span></button>
                          {% endif %}
                          <button class="btn btn-success" data-toggle="modal" data-target="#modalKeyWordSearch" disabled> <span class="glyphicon glyphicon-search"></span></button>
                          {% if can_block_map %}
                          <input id="blockPosition2" type="checkbox" disabled checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-picture'></span>" data-off="<span class='glyphicon glyphicon-picture'></span>" data-size="small" data-onstyle = "danger"></input>
                          {% endif %}
                          <input id="sG2" type="checkbox" disabled checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-signal'></span>" data-off="<span class='glyphicon glyphicon-signal'></span>" data-size="small" data-onstyle = "danger"></input>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> </button>
                  <br>
                  <div class="panel-group" id="current-Groupservers2" role="tablist" aria-multiselectable="true">
                    {% if can_delete_hydrogroups %}
                    <div class="panel panel-default">
                      <div class="panel-heading buttonAppearance" role="tab" id="heading_${title}">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-target="#collapse_${title}" href="#collapse_${title}" aria-expanded="true" aria-controls="collapse_${title}">
                          <li class="ui-state-default buttonAppearance" id="${title}" layer-name="none">
                            <input class="chkbx-layer" type="checkbox" checked disabled>
                              <span class="group-name">Example Hydrogroup</span>
                              <button class="btn btn-warning" data-toggle="modal" data-target="#modalInterface" disabled>
                                <span class="glyphicon glyphicon-option-vertical"></span>
                              </button>
                          </li>
                          </a>
                        </h4>
                      </div>

                    </div>
                    <div class="ui-state-default" layer-name="${title}" id="${title}" >
                    <input class="chkbx-layer" type="checkbox" disabled checked><span class="server-name">Hydroserver Example</span>
                      <button type="button" id="${title}_zoom" class="btn btn-dark" disabled>
                       <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                      </button>
                    </div>

                    {% else %}
                    <div class="panel panel-default">
                      <div class="panel-heading buttonAppearance" role="tab" id="heading_${title}">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#current-Groupservers" href="#collapse_${title}" aria-expanded="true" aria-controls="collapse_${title}">
                          <li class="ui-state-default buttonAppearance" id="${title}" layer-name="none">
                            <input class="chkbx-layer" type="checkbox" checked disabled>
                              <span class="group-name">Example Hydrogroup</span>
                          </li>
                          </a>
                        </h4>
                      </div>

                    </div>
                    <div class="ui-state-default" layer-name="${title}" id="${title}" >
                    <input class="chkbx-layer" type="checkbox" checked><span class="server-name">Hydroserver Example</span>
                      <button type="button" id="${title}_zoom" class="btn btn-dark" disabled>
                       <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                      </button>
                    </div>
                    {% endif %}

                  </div>

                </div>
                <p>The Hydrogroups control panel is the panel that controls the display of the hydroserver groups (hydrogroups) and their
                hydroservers. The first part contains the "Hydroserver control Panel". It is a button that can collapse to save space.
                It contains 5 different options such as:</p>
                <h4>Panel of Control</h4>
                  <div class="marcoLogico">
                    <button class="btn btn-success btn-block" type="button"  data-toggle="collapse" data-target="#collapseCP" href="#collapseCP" aria-expanded="true" aria-controls="collapseCP" width="50%">
                      Hydroserver Control Panel
                    </button>
                    <div id="collapseCP" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingCP">
                      <div class="panel-body">
                        {% if can_delete_hydrogroups %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddGroupServer" disabled> <span class="glyphicon glyphicon-plus"></span></button>
                          {% endif %}

                          {% if can_delete_hydrogroups %}
                          <button class="btn btn-danger"  data-toggle="modal" data-target="#DeleteWarning" disabled> <span class="glyphicon glyphicon-trash"></span></button>
                          {% endif %}
                          <button class="btn btn-success" data-toggle="modal" data-target="#modalKeyWordSearch" disabled> <span class="glyphicon glyphicon-search"></span></button>
                          {% if can_block_map %}
                          <input id="blockPosition2" type="checkbox" disabled checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-picture'></span>" data-off="<span class='glyphicon glyphicon-picture'></span>" data-size="small" data-onstyle = "danger"></input>
                          {% endif %}
                          <input id="sG2" type="checkbox" disabled checked data-toggle="toggle" data-on="<span class='glyphicon glyphicon-signal'></span>" data-off="<span class='glyphicon glyphicon-signal'></span>" data-size="small" data-onstyle = "danger"></input>
                      </div>
                    </div>
                  </div>

                <ol>
                  {% if can_delete_hydrogroups %}
                  <li>Add a Hydrogroup <span class="glyphicon glyphicon-plus"></span> </li>
                  <p>Allows the user to add hydrogroups to the list of Available hydrogroups by providing a title and a description</p>
                  <div class="marcoLogico2">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a Group of Hydroservers</h4>
                    </div>
                    <div class="modal-body">
                      <form id="modalAddGroupServerForm2">
                        <br>
                        <label for="addGroup-title">Title (Required):</label>
                        <input type="text" disabled class="form-control" name="addGroup-title" id="addGroup-title2" placeholder="Please enter a valid Title for the Hydroserver Group">
                        <label for="addGroup-description"> Description (Required): </label>
                        <textarea name="textarea" disabled rows="10" cols="50" class="form-control" name="addGroup-description" id="addGroup-description2" placeholder="Please enter a valid description for the HydroServer Group"></textarea>
                        <div class="warning"> </div>
                      </form>
                    </div>
                  </div>

                  <li>Delete Hydrogroup/s<span class="glyphicon glyphicon-trash"></span></li>
                  <p>In order to delete Hydrogroups, the user needs to check the box of each Hydrogroup that the user wants to delete. When the user
                    push the button that has the trash icon the following popup will come warning the user regarding the risk that this means.Note:
                  BE CAREFUL, ALL THE HYDROGRUPS THAT HAVE THE CHECKBOX CHECKED WILL BE DELETING </p>
                  <div class="marcoLogico2">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle2">Delete Hydroserver Groups</h5>

                    </div>
                    <div class="modal-body">
                      Please, be aware that deleting all the hydroservers that are checked will mean to lose all the HydroServers
                      that are associated to each one of the groups that will be deleted.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Cancel</button>
                      <button type="button" id="btn-delete-hydroserver-group2" class="btn btn-danger" disabled>Proceed and Delete</button>
                    </div>
                  </div>

                  {% endif %}
                  <li>Keyword Search <span class="glyphicon glyphicon-search"></span> </li>
                  <p>The Keyword Search let the user to search the variables within the hydroGroups, so after a serach is done, the hydroGroups
                  will only show the different hydroservers that has the variable in their data. If the hydroserver does not contain the variable,
                  the hydroserver will not be displayed. In addition, if the keyword search is active when a new hydroserver is added to a hydroGroup,
                  it will not appear unless the hydroserver contains the variable </p>
                  <div class="marcoLogico2">
                    <div class="modal-header">
                        <h4 class="modal-title">Key Words in the Hydroserver Group</h4>
                        <p> Select from the following keywords to filter the hydroservers that do not contain such keyword/keywords</p>

                        <em>Note: Everytime the user selects a keyword, this one is added, and the search is done using an "OR". In other words,
                        the search will give any server that has at least one of the selected keywords</em>
                    </div>
                    <div class="modal-body">
                      <table id="data-table2" class="table table-striped table-bordered nowrap" width="100%">

                          <tbody>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name1" /> Actual Evaporation</td>
                                  <td><input type="checkbox" disabled name="name1" /> Precipitation</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name2" /> Air Temperature</td>
                                  <td><input type="checkbox" disabled name="name2" /> Snow Water Equivalent</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name3" /> Discharge</td>
                                  <td><input type="checkbox" disabled name="name3" /> Soil Moisture</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name3" /> Dissolved Oxygen </td>
                                  <td><input type="checkbox" disabled name="name3" /> Specific Conductance</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name3" /> Groundwater Level</td>
                                  <td><input type="checkbox" disabled name="name3" /> Total Suspended Solids</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name3" /> Methane</td>
                                  <td><input type="checkbox" disabled name="name3" /> Turbidity</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name3" /> Nutrient</td>
                                  <td><input type="checkbox" disabled name="name3" /> Water Temperature</td>
                              </tr>
                              <tr class="odd gradeX">
                                  <td><input type="checkbox" disabled name="name4" /> pH</td>
                                  <td><input type="checkbox" disabled name="name4" /> Water Level</td>
                              </tr>
                          </tbody>
                      </table>
                    </div>

                    <div class="modal-footer">
                        <div class="button-group">
                            <button type="button" id="btn-key-search2" class="btn btn-primary" disabled>Seach Keywords</button>
                            <button type="button" id="btn-r-reset2" class="btn btn-danger" disabled>Reset</button>
                        </div>
                    </div>
                  </div>

                  {% if can_block_map %}
                  <li>Show Boundary (if specified) <span class='glyphicon glyphicon-picture'></span></li>
                  <p>It is a toggle switch that allows the user to show and hide the boundary that the user specified in the app settings.
                    In addition, when the toggle switch is on the map is block, and one cannot move beyond the boundary, and when is off,
                    the user can move beyond the area of the boundary</p>
                  {% endif %}
                  <li>Show Graphs<span class='glyphicon glyphicon-signal'></span></li>
                  <p>The show graphs switch toggle allows to show or hide the different graphs related to the selected site in a hydroserver</p>
                </ol>
                <h4>HydroServer Groups</h4>
                <div class="marcoLogico">
                  {% if can_delete_hydrogroups %}
                  <div class="panel panel-default">
                    <div class="panel-heading buttonAppearance" role="tab" id="heading_${title}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-target="#collapse_${title}" href="#collapse_${title}" aria-expanded="true" aria-controls="collapse_${title}">
                        <li class="ui-state-default buttonAppearance" id="${title}" layer-name="none">
                          <input class="chkbx-layer" type="checkbox" checked disabled>
                            <span class="group-name">Example Hydrogroup</span>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#modalInterface" disabled>
                              <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                        </li>
                        </a>
                      </h4>
                    </div>

                  </div>
                  <div class="ui-state-default" layer-name="${title}" id="${title}" >
                  <input class="chkbx-layer" type="checkbox" disabled checked><span class="server-name">Hydroserver Example</span>
                    <button type="button" id="${title}_zoom" class="btn btn-dark" disabled>
                     <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </button>
                  </div>

                  {% else %}
                  <div class="panel panel-default">
                    <div class="panel-heading buttonAppearance" role="tab" id="heading_${title}">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#current-Groupservers" href="#collapse_${title}" aria-expanded="true" aria-controls="collapse_${title}">
                        <li class="ui-state-default buttonAppearance" id="${title}" layer-name="none">
                          <input class="chkbx-layer" type="checkbox" checked disabled>
                            <span class="group-name">Example Hydrogroup</span>
                        </li>
                        </a>
                      </h4>
                    </div>

                  </div>
                  <div class="ui-state-default" layer-name="${title}" id="${title}">
                  <input class="chkbx-layer" type="checkbox" checked><span class="server-name">Hydroserver Example</span>
                    <button type="button" id="${title}_zoom" class="btn btn-dark" disabled>
                     <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                    </button>
                  </div>
                  {% endif %}
                </div>
                <div class="panel-group" id="current-Groupservers2" role="tablist" aria-multiselectable="true">
                <p>The Hydroserver groups shows the different catalogs or groups that contains hydroservers, It allows the user to control the
                  display of the Hydrogroup in the map with the chekbox. If unchecked, the Hydrogroup will not display in the map. Similarly, you can control
                  the visualization of each hydroserver in the HydroGroup with the checkbox in the left of each hydroserver title. You can also press the zoom in Icon
                  to zoom in to each one of the hydroserver.In addition, you can add or delete the hydroservers of any Hydrogroup with the menu right next to the name of the Hydrogroup. Note(The ability to add or deleted
                  Hydroservers is only an ability for admin users, if you are not an admin user, you will not be able to see the button to delete or add hydroservers).</p>

                  {% if can_delete_hydrogroups %}

                    <h5>Managing Hydroservers</h5>
                    <p>The managing hydroservers menu pops up after the user press the button that is on the right of the hydroserver group name. This menu allows the user to
                    add or delte hydroservers.</p>
                    <div class="marcoLogico2">
                      <div class="modal-body">
                          <h2>Add/Delete HydroServers</h2>
                          <h3>Instructions</h3>
                          <p>You can add a SOAP endpoint to an existing HydroServer or choose from a list of HydroServers present in the catalogs</p>
                          <input type="button" id="load-from-soap2" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modalAddSoap" Value="Add New HydroServer" disabled>
                          <input type="button" id="select_his2" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modalAddSoap" Value="Add from Existing Catalog" disabled>
                          <input type="button" id="delete-server2" class="btn btn-danger" data-toggle="modal"  data-dismiss="modal" data-target="#modalDelete" Value="Delete HydroServer" disabled>
                      </div>
                    </div>
                    <h6>Adding hydroserver</h6>
                    <p>This menu lets you add a hydroserver by providing a title for the hydroserver, and a URL endpoint, so far the supported enpoint is any that
                    follows the standard of cuahsi_1_1. for example (http://hydrolite.ddns.net/italia/hsl-bol/index.php/default/services/cuahsi_1_1.asmx?WSDL)</p>
                    <div class="marcoLogico2">
                      <div class="modal-body">
                          <br>
                          <label for="soap-title">Title (Required):</label>
                          <input type="text" disabled class="form-control" name="soap-title" id="soap-title2" placeholder="Please enter a valid HydroServer Title">
                          <label for="soap-url">URL (Required):</label>
                          <input type="text" disabled class="form-control" name="soap-url" id="soap-url2" placeholder="Please enter a valid HydroServer SOAP Endpoint">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" disabled name="extent" id="extent2" disabled>Get Values for the Zoomed Area</label>
                          </div>
                          <button type="button" disabled id="select-his2" class="btn btn-primary" disabled>
                              Select Server from Existing Catalog
                          </button>

                      </div>
                      <div class="modal-footer">
                          <div class="button-group">
                              <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Close</button>
                              <button type="button" id="btn-add-soap2" class="btn btn-default" disabled>Add</button>
                          </div>
                      </div>
                    </div>

                    <h6>Deleting hydroserver</h6>
                    <p>This menu lets you delete a hydroserver. It will show show you a table that has all the hdyroservers that the HydroGroup contains.
                    The menu gives the option to check multiple hydroservers to be deleted simultaneously</p>
                    <div class="marcoLogico2">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Delete HydroServer</h4>
                      </div>
                      <div class="modal-body">
                        <table id="tbl-hydroservers2">
                          <thead>
                            <th>Check</th>
                            <th>Title</th>
                            <th>URL</th>
                          </thead>
                          <tbody>
                            <tr>
                            <td><input type="checkbox" disabled name="server" disabled></td>
                            <td class="hs_title"> Example title </td>
                            <td class="hs_url">http://hydrolite.ddns.net/EXAMPLE/default/services/cuahsi_1_1.asmx?WSDL</td>
                            </tr>
                          </tbody>
                          </table>
                      </div>
                      <div class="modal-footer">
                          <div class="button-group">
                              <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Close</button>
                              <button type="button" id="btn-del-server" class="btn btn-default" disabled>Delete</button>
                          </div>
                      </div>
                    </div>

                  {% endif %}
                  <h3>Graphs and Hydroserver Information</h3>
                  <p>The graphs portion shows the Site name and description initially, then it shows the different variables in the selected site. The values of each variable area
                     also shown. For instance, if the variable does not have any value it will show a 0 .The variables for the site are displayed in a table and also in a dropdown that promps the user to choose a variable to graph a time serie or whisker and box plot. In addition, there
                     is two date pickers, so the user can select the beginning and ending date of the time series or whisker and box plot for such variable. The user is able to do this after
                     pushing the update button. There is also graphs to see the distribution of the different variables: pie and bar graphs. There is an important factor to notice
                     These two different. The following shows the user interface for the graphs </p>
                     <div class="marcoLogico2">
                       <div id="graph2">
                         <div id="options2">
                           <h3 id= "siteName_title2"> Select a Station</h3>
                           <p id= "siteDes2"> No Site Selected, when a site is "clicked" metadata of the site will display
                             in this part such as a name and a description.
                           </p>

                           <br>
                         </div>
                         <img id="graphAddLoading2" class="view-file hidden" src="{% static 'water_data_explorer/images/loader.gif' %}"  />
                         <div id="variables_id2">
                           <h3 id= "siteName_title2"> Site Variables Info</h3>
                           <p><em>Site Variable Distribution</em></p>
                           <p>Select a plot to describe the variable distribution in the selected site</p>
                           <p>
                             <select id="type_graph_select2" class="selectpicker" disabled data-width="auto">
                               <optgroup label="Gropup Plots">
                                 <option> Pie </option>
                                 <option> Bar </option>
                               </optgroup>

                             </select>
                           </p>


                           <p ><em> Variables Plot </em></p>
                           <p> Select a variable and its kind of Plot </p>
                           <p>
                             <select id= "variables_graph2" class="selectpicker" disabled data-live-search="true" data-style="btn-info"width: '100%'>
                               <option > No Variables Available . . .</option>
                             </select>
                             <select id="type_graph_select3" class="selectpicker" disabled data-width="fit">

                               <optgroup label="Individual Variable Plots">
                                 <option> Scatter </option>
                                 <option> Whisker and Box </option>
                             </optgroup>
                             </select>

                           </p>
                           <p><em>Variables Time Range</em></p>
                           <p>Select a Range of time for the given variables</p>
                           <div class="containerTime">
                               <div class='col-md-5'>
                                   <div class="form-group">
                                       <div class='input-group date' id='datetimepicker8' data-provide="datepicker">
                                           <input type='text' class="form-control" />
                                           <span class="input-group-addon">
                                               <span class="glyphicon glyphicon-calendar"></span>
                                           </span>
                                       </div>
                                   </div>
                               </div>
                               <div class='col-md-5'>
                                   <div class="form-group">
                                       <div class='input-group date' id='datetimepicker9' data-provide="datepicker">
                                           <input type='text' class="form-control" />
                                           <span class="input-group-addon">
                                               <span class="glyphicon glyphicon-calendar"></span>
                                           </span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <br>
                           <br>
                           <br>
                           <br>
                           <br>
                           <button type="button" id= "update_graphs2" class="btn btn-danger" disabled>Update</button>
                         <div id="table_div4"></div>
                         </div>
                         <div id="plots2">
                         </div>
                       </div>
                     </div>

                  <h3>Map Interface</h3>
                  <p>The map interface shows the different hdyroserver groups and their hydroservers, it does not add additional functionality to the visualization</p>
                </div>


            </div>
        </div>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
  var trace1 = {
    x: [1, 2, 3, 4],
    y: [10, 15, 13, 17],
  type: 'scatter'
};
var layout = {
  autosize: false,
  width: 500,
  height: 500,

}
var data = [trace1];

Plotly.newPlot('plots2', data, layout);
var date = new Date();
var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
var end = new Date(date.getFullYear(), date.getMonth(), date.getDate());
$(function () {
    $('#datetimepicker8').datepicker({
      format: "mm/dd/yyyy",
      todayHighlight: true,
      startDate: today,
      endDate: end,
      autoclose: true
    });
    $('#datetimepicker9').datepicker({
      format: "mm/dd/yyyy",
      todayHighlight: true,
      startDate: today,
      endDate: end,
      autoclose: true
    });
    $('#datetimepicker8').datepicker('update', today);
    $('#datetimepicker9').datepicker('update', today);

    $("#datetimepicker8").datepicker().on("changeDate", function (e) {
        console.log("changing time");
        $('#datetimepicker9').datepicker('setStartDate', $(this).datepicker('getDate'));
    });

    $("#datetimepicker8").datepicker().on("changeDate", function (e) {
        console.log("changing time");
        $('#datetimepicker9').datepicker('setEndDate', $(this).datepicker('getDate'));
    });

});

</script>
