
<div id="modalHydroserInformation" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 id="hydroserverTitle"></h1>
                
            </div>
            <div class="modal-body">
                <h2 >INFO</h2>
                <div id="map2">
                </div>
                <p class="hsinfo">URL</p>
                <p id="urlHydroserver"></p>
                <p class="hsinfo">Sites</p>
                <input type="text" id="myInput" placeholder="Search for site names" title="Type in a name">
                <div id="infoTable">

                </div>
                <div class="success"></div>
            </div>
        </div>
    </div>
</div>
