{% load staticfiles %}
<form id="modalKeyWordSearch" class="modal fade" role="dialog" action="delete/" method="POST">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Key Words in the Hydroserver Group</h4>
                <p> Select from the following keywords to filter the hydroservers that do not contain such keyword/keywords</p>

                <em>Note: Everytime the user selects a keyword, this one is added, and the search is done using an "OR". In other words,
                the search will give any server that has at least one of the selected keywords</em>
            </div>
            <div class="modal-body" id = "keyword-modal-body">

              <div id="leftContent">
                {# <p> Region Data Discovery </p> #}
                <input type="text" id="myInputKeyword" placeholder="Search for country" title="Type in a keyword">
                <div id="groups_countries"></div>
                <br>
                {# <p> Variable Data Discovery </p> #}
                {# <input type="text" id="myInputKeyword2" class= "searchBars" placeholder="Search variable" title="Type in a keyword"> #}
                <div id="groups_variables">

                </div>
                {# <img id="KeywordLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" /> #}

                {# <br> #}
                {# <button type="button" id = "groupsFiltering" class="btn btn-primary">Search</button> #}
            </div>
              <div id="right-content">
                <p>Available Catalogs and Services</p>
                <div id="groups_services"></div>

                <div class="loading_id">
                  <img id="KeywordLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                </div>
              </div>


            </div>

            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" id="btn-key-search" class="btn btn-primary">Seach Keywords</button>
                    <button type="button" id="btn-r-reset" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
