<div id="modalInterface" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="pop-up_description2">
                </div>
            </div>
            <!-- <div class="modal-body">
                <h2>Add/Delete HydroServers</h2>
                <h3>Instructions</h3>
                <p>You can add a SOAP endpoint to an existing HydroServer or choose from a list of HydroServers present in the catalogs</p>
                <input type="button" id="load-from-soap" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modalAddSoap" Value="Add New HydroServer">
                <input type="button" id="select_his" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modalAddSoap" Value="Add from Existing Catalog">
                <input type="button" id="delete-server" class="btn btn-danger" data-toggle="modal"  data-dismiss="modal" data-target="#modalDelete" Value="Delete HydroServer">
                <br>
                <div class="success"></div>
            </div> -->
        </div>
    </div>
</div>
