{% load static %}
<div id="modalInterface" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Catalog Information</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="pop-up_description2">
            </div>
            </div>
        </div>
    </div>
</div>
