{% load staticfiles %}

<div id="modalPrompDownload" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 id="hydroserverTitle"> Download Python Notebook </h1>

            </div>
            <div class="modal-body">
                <p class="hsinfo">WOF service</p>
                <p id="url_WOF"></p>
                <p class="hsinfo">Choose Site</p>
                <select id="site_choose" class="selectpicker" data-style="btn-primary"></select>
                <p class="hsinfo">Choose Variable</p>
                <select id="variable_choose" class="selectpicker" data-style="btn-primary"></select>
                <div class="success"></div>
                <div class="loading_id">
                  <img id="downloading_loading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-download" class="btn btn-sucess">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
