{% load static %}

<div id="modalPrompDownload" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content myModal">
            <div class="modal-header">
                <h1 id="hydroserverTitle"> Download Python Notebook </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

            </div>
            <div class="modal-body">
                <p class="hsinfo">Endpoint/URL</p>
                <p id="url_WOF"></p>
                <p class="hsinfo">Choose Station/ Platform</p>
                <select id="site_choose" class="selectpicker" data-style="btn-primary"></select>
                <br>
                <br>
                <p class="hsinfo">Choose Variable</p>
                <select id="variable_choose" class="selectpicker" data-style="btn-primary"></select>
                <div class="success"></div>
                <div class="loading_id">
                  <img id="downloading_loading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btn-add-download" class="btn btn-success">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
