{% load static %}
<form id="modalShowVariables" class="modal" role="dialog">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title"> Ontology- based search for Variables in the selected WaterOneFlow web service</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                   
                </div>
                <p> Select from the following variables to filter the hydroservers that do not contain values for that variable</p>
                <em>Note: This option will look for the selected variables, and it will only retrieve the sites that has at least one data
                    point for the selected varaibles. The filter search needs all the selected variables to have values in order to retrieve a site. It is a
                    "AND" search, otherwise it will not retrieve any data.</em>
            </div>
            <div class="modal-body">
              <div id="hideScroll">
                <table id="data-variable-table" class="table table-striped table-bordered nowrap" width="100%">
                    <tbody>
                    </tbody>
                </table>
              </div>

            </div>
            <img id="variablesLoading" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}"/>

            <div class="modal-footer">

                <div class="button-group">
                    <button type="button" id="btn-var-search-server" class="btn btn-primary">Seach Keywords</button>
                    <button type="button" id="btn-var-reset-server" class="btn btn-danger">Reset</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
