{% load static %}
<form id="modalShowVariablesTable" class="modal" role="dialog">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title">Available Variables</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              <br>

            </div>
           
            <div class="div_variables_em">
                <em> The list below contains all the View available variables. Each site may contain one or more variables from the list.</em>
            </div>
            <div class="modal-body">
              <div id="hideScroll2">
              </div>

            </div>
            <img id="variablesLoading2" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}"/>


            <div class="modal-footer">

                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
