{% load staticfiles %}
<form id="modalShowVariablesTable" class="modal fade" role="dialog">
    {% csrf_token %}
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Available Variables</h4>
                <br>
                <em>The list below contains all the View available variables. Each site may contain one or more variables from the list.</em>
              <br>
            </div>
            <div class="modal-body">
              <div id="hideScroll2">
              </div>

            </div>
            <img id="variablesLoading2" class="view-file hidden" src="{% static 'water_data_explorer/images/loading.gif' %}"/>


            <div class="modal-footer">

                <div class="button-group">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
