<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about-modal-label" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <div id="overview">
          <h4>Content and purpose</h4>
          <p>All data on the WMO Hydrological Observing System (hereinafter: WHOS) is made available in accordance with WMO data policy, which supports broadening and enhancing, whenever possible, the free and unrestricted<sup>1</sup> international exchange of meteorological, hydrological, climatological and related environmental data and products.</p>
          <p> Please note that WHOS does not store or archive any data. By leveraging the Discovery and Access Broker technology, WHOS harmonizes, makes interoperable and shares the data that are published by original data providers through their web services. </p>
          <p>Please note that not all data available on WHOS have undergone quality control procedures. Please contact the original data provider in order to get the detailed information regarding data quality aspects.</p>
          <p>By accessing WHOS, the user accepts the Terms of Use specified below.</p>
          <br>
          <h4>Terms of Use</h4>
          <p>The user accepts all risks which may occur by using the data available on WHOS and accepts to not use the data for commercial purposes without the prior consent of the original data provider, noting that specific conditions of uses and licenses might apply.</p>
          <p>The user may not copy content available on WHOS to create a database in electronic or any other format, or publicly use and distribute it to third persons without prior consent of the original data provider.</p>
          <p>The user will attribute the source of the data for scientific publications and for operational products and services.</p>

          <p> World Meteorological Organization (hereinafter: WMO) shall not be held liable for any direct or indirect, accidental, material or non-material damages, loses or costs incurred as a result of using data on WHOS. Data that can be searched, viewed or downloaded using WHOS may be updated or modified at any time and WMO shall accept no responsibility for any harm resulting from such changes.</p>
          <p> WMO reserves the right to change or amend the Terms of Use for using WHOS and shall not be responsible for any harm that may result from such changes.</p>

        </div>

      </div>
      <div class="modal-footer">
        <div class="FootNote">
          <p><sup><sup>1</sup>“Free and unrestricted” means the data is provided on a non-discriminatory basis and without charge.</sup> </p>
        </div>

        <button type="button" onclick="TETHYS_APP_BASE.exit_app('/apps/');" class="btn btn-danger">Decline</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#about').on('show.bs.modal', function (e) {
    $('body').addClass("example-open");
    console.log("nop")
  }).on('hide.bs.modal', function (e) {
        $('body').removeClass("example-open");
  })
</script>
